body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    overscroll-behavior: none;
    touch-action: none;
}

#root {
    height: 100%;
    width: 100%;
}
